body {
    color: black;
    background: rgb(8, 211, 238);
    font-family: cursive;
    font-weight: bold;
    
}

.heading {
    width: 80%;
    font-size: 22px;
    font-family: cursive;
    font-weight: bold;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: yellow;
}